<h1>EDIT Your Emergency Event List</h1>

<%= form_for @event, url: event_path(@event), method: :patch do |f| %>

<div class="event-task">
<%= f.text_field :task, placeholder: "task" %>
<div> <!-- event-task -->

<div class="event-step">
<%= f.text_field :, placeholder: "step" %>
<div> <!-- event-task -->

<%= f.submit "Update Event" %>

<% end %>