<h1>All Emergency Event Tasks</h1>

<% @event.each do |event| %>

<div class="events-container">
    <h6 class="events-title"><%= event.title %> </h6>


<!-- Add Ability to Click and go to events (can delete there also) -->

<% end %>