<h1>All Emergency Event Lists</h1>

<% @list.each do |list| %>

<div class="lists-container">
    <h6 class="list-title"><%= list.title %> </h6>

  <h5 class="list-todo-text"><%= list.todo %> </h5>
	<% end %>
</div>

<!-- Add Ability to Click and go to list (can delete there also) -->