<h1>Add A New Event</h1>


<%= form_for @event, url: events_path, method: :post do |f| %>

<!-- GO TO SHOW and add that content in here -->

<!-- <div class="row">
<div class="container" >

<form class="checklist">
  
  <div class='check-box'>
  <input type="checkbox"> -->


<%= f.text_field :task, placeholder: "task" %>
<%= f.text_field :step, placeholder: "step" %>



  <%= f.submit "Create New Step" %>
<% end %>





<!-- 
  <fieldset class="form-group">
    <label for="formGroupExampleInput3"></label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
  </fieldset>
  <fieldset class="form-group">
    <label for="formGroupExampleInput4"></label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
  </fieldset>

  <fieldset class="form-group">
    <label for="formGroupExampleInput5"></label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
  </fieldset>
  <fieldset class="form-group">
    <label for="formGroupExampleInput6"></label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
  </fieldset>

  <fieldset class="form-group">
    <label for="formGroupExampleInput7"></label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
  </fieldset>
  <fieldset class="form-group">
    <label for="formGroupExampleInput8"></label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
  </fieldset>

  <fieldset class="form-group">
    <label for="formGroupExampleInput9"></label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
  </fieldset>
  <fieldset class="form-group">
    <label for="formGroupExampleInput10"></label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
  </fieldset>
</form> 
