<h1>Your Event</h1>

 <!-- Show/Edit Event -->

<!--  Figure out how to show whole event properly
 BStrap Form Template? -->

<div class='container'>

<div class="event-title">
<span class="p-event">Event Title:</span><%= @event.title %>
<div> <!-- event-title -->

The rest of the set of task steps here.



<div class='event-show-buttons'>
<%= button_to 'Edit', edit_event_path(@event), :method => :get, :class => 'edit-button' %>

  <!-- ADD Edit/Destroy Button -->
  <input class='showDeleteButton' type="submit" name='_method' value="Delete">
</div> <!-- event-buttons -->
  </div>