<!-- <h1>Welcome To The Index#Home Page</h1> -->

<div class="jumbotron">
  <h1 class="display-3"></h1>
  <p class="lead jumbo-text">Emergency Preparation Into Action</p>

  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/" role="button">Learn more</a>
  </p>
</div>


<div class="away-kids-image box-div away-from-kids-tips">
	<p class="box-title-a">Active Shooter Communication</p>
</div>

<div class=" intruder-image box-div intruder-tips">
	<p class="box-title-i">Home Intruder Communication</p>
</div>

<div class="earthquake-image box-div earthquake-tips">
	<p class="box-title-e">Earthquake Communication</p>
</div>
