<h1>Welcome To The Index List Page</h1>Standby

<% @list.each do |list| %>

<div class="lists-container">
    <h6 class="list-title"><%= list.title %> </h6>

  <h6 class="list-todo-text"><%= list.todo %> </h6>
	<% end %>
</div>

Add Ability to Click and go to list (can delete there also)