<h1>Welcome To The New List Page</h1>

<div class="row">
<div class="container" >

<form class="checklist">
  
  <div class='check-box'>
  <input type="checkbox">
 </div> <!-- check-box -->
  
  <fieldset class="form-group">
    <label for="formGroupExampleInput"></label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
  </fieldset>

  <fieldset class="form-group">
    <label for="formGroupExampleInput2"></label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
  </fieldset>
</form> 

</div>
</div>







<!-- 
  <fieldset class="form-group">
    <label for="formGroupExampleInput3"></label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
  </fieldset>
  <fieldset class="form-group">
    <label for="formGroupExampleInput4"></label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
  </fieldset>

  <fieldset class="form-group">
    <label for="formGroupExampleInput5"></label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
  </fieldset>
  <fieldset class="form-group">
    <label for="formGroupExampleInput6"></label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
  </fieldset>

  <fieldset class="form-group">
    <label for="formGroupExampleInput7"></label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
  </fieldset>
  <fieldset class="form-group">
    <label for="formGroupExampleInput8"></label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
  </fieldset>

  <fieldset class="form-group">
    <label for="formGroupExampleInput9"></label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
  </fieldset>
  <fieldset class="form-group">
    <label for="formGroupExampleInput10"></label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
  </fieldset>
</form> 
