<h1>Your List</h1>

 <!-- Show/Edit List -->

<!--  Figure out how to show whole list properly
 BStrap Form Template? -->

<div class='container'>

<div class="list-title">
<span class="p-title">List Title:</span><%= @list.title %>
<div> <!-- list-title -->

<div class="list-todo">
<span class="p-todo">To Do:</span><%= @list.todo %><%= button_to 'Edit', edit_list_path(@list), :method => :get, :class => 'edit-button' %>
<div> <!-- list-todo -->

<%= button_to 'Edit', edit_list_path(@list), :method => :get, :class => 'edit-button' %>

  <button type="button" class="homeButton"><a class='homeButtonText' href='/'>Home</a></button>


  <!-- ADD Edit/Destroy Button -->
  <input class='showDeleteButton' type="submit" name='_method' value="Delete">

  </div>