<h1>Welcome To The SHOW List Page</h1>

 Show/Edit List

 Figure out how to show whole list properly
 BStrap Form Template?

<div class="list-title">
<%= @list.title %>
<div> <!-- list-title -->

<div class="list-todo">
<%= @list.todo %>
<div> <!-- list-todo -->

<%= button_to 'Edit', edit_list_path(@list), :method => :get %>
 

  <button type="button" class="homeButton"><a class='homeButtonText' href='/'>Home Page</a></button>


  ADD Edit/Destroy Button