<h1>Welcome To ALL Messages Page<h1>

<% @messages.each do |message| %>

<div class="messages-container">
  <h6 class="message"><%= message.text %> </h6>
  
	<% end %>
</div>

<div class="messages-container">
<% @contacts.each do |contact| %>
<%= contact.number %>

<% end %>
<div> <!-- contacts-container -->

Add Ability to Click and go to message (can delete there also)