<h1>Your Messages<h1>

<% @messages.each do |message| %>

<div class="messages-container">
  <p class="all-message"><%= message.text %></p>
  <p class="all-message-numbers"><%= message.number %></p>
  
	<% end %>
</div>

<div class="messages-container">
<% @contacts.each do |contact| %>
	<%= contact.number %>
<% end %>
<div> <!-- contacts-container -->

