<h1>Welcome To SHOW Message Page<h1>

 Show/Edit Message

    <div class="text"> 
    <%= @message.text %>
    </div> <!-- text -->

     <div class="number">
      <%= @message.number %>
      </div>
    


 
  
	
