.container {
	text-align: center;
}
.p-todo {
	font-size: 18px;
}
.button_to {
	height: 35px;
  	width: 90px;
  	text-align: center;
  	display: inline-block;
}
.edit-button {
	border-radius: 10px;
	color: red;
	padding: 1px;
	text-align: center;
	margin-left: 585%;
	margin-top: 10px;
	margin-left: -10px;
	margin-right: 2px: 
}
.showDeleteButton {
	text-align: center;
  	height: 35px;
  	width: 90px;
  	border-radius: 10px;
  	padding: 1px;
  	font-size: 22px;
  	margin: 2px;
  	margin-left: 46%;
  	display: inline-block;
}
.homeButton {
	text-align: center;
	height: 35px;
  	width: 90px;
	border-radius: 10px;
	border: solid 2px gray;
	background-color: white;
	font-size: 22px;
	padding: 1px;
	margin-left: 100px;
	display: inline-block;
}