<h1>All Contacts</h1>

<% @contact.each do |contact| %>

<div class="contacts-container">
  <h6 class="contact-first-name"><%= contact.first_name %> </h6>
  <h6 class="contact=last-name"><%= contact.last_name %> </h6>
  <h6 class="contact-email"><%= contact.email %> </h6>
  <h6 class="number"><%= contact.number %> </h6>
  
	<% end %>
</div>


